# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local database
backend/data/*.db

# Uploaded avatars
backend/uploads/avatars/*
!backend/uploads/avatars/.gitkeep
backend/uploads/course-covers/*
!backend/uploads/course-covers/.gitkeep
backend/uploads/materials/*
!backend/uploads/materials/.gitkeep
backend/data/*

backend/uploads/learner-materials/*
!backend/uploads/learner-materials/.gitkeep


# Local environment
.env
.env.local
.env.*.local

coverage
.vite
Thumbs.db


